<app-header></app-header>
<app-steps></app-steps>
<main class="text-center">
  
  <div class="flex  items-center justify-center h-[70vh]">  
    
    <p-card class="p-6">
      
      <ng-template pTemplate="title">
          <p class="font-font-primaria font-bold text-4xl text-green-500">Pedido efetuado</p>
      </ng-template>
      <ng-template pTemplate="subtitle">
          <p class="font-font-secundaria font-semibold text-2xl text-purple-300">Pagamento sendo processado</p> 
      </ng-template>
      <ng-template pTemplate="content">
        <p class="font-font-secundaria font-semibold text-2xl">Recebemos sua solicitação e seu pagamento está sendo processado. Em instantes você receberá um e-mail com a
          confirmação de sua compra e seus detalhes.</p>
      </ng-template>
      
    
    </p-card>
  
  </div>

</main>
