<main class="w-full">

  <div class="text-center">
    <h2 class="font-font-primaria font-bold text-2xl laptop:p-4">Informações da sua compra</h2>
    <p class="font-font-secundaria font-normal text-lg laptop:p-4">Faisán Tannat Cabernet 2022</p>
    <p class="font-font-secundaria font-normal text-lg laptop:p-4">Valor: R<span class="text-purple-300">$</span> 59,90</p>
  </div>

    
  <div class="flex tablet:flex-col">
    <div>
      <img src="../../../assets/img/vinho.png" alt="vinho" class="w-80 h-80 laptop:w-auto laptop:h-auto">
    </div>  
    
    <div class="flex flex-col items-center justify-center">
      
      <div class="flex p-4">
        <img src="../../../assets/img/taça.svg" alt="taça" class="w-10 h-10">
        <div class="flex flex-col">
          <p class="font-font-secundaria font-bold text-purple-400 pl-4">Tipo: </p>
          <p class="font-font-primaria font-bold pl-4 tablet:p-0">Tinto</p>
        </div>
      </div>
      
      <div class="flex p-4">
        <img src="../../../assets/img/uva.svg" alt="uva" class="w-10 h-10">
        <div class="flex flex-col">
          <p class="font-font-secundaria font-bold text-purple-400 pl-4">Uva: </p>
          <p class="font-font-primaria font-bold pl-4 tablet:p-0">Tannant, Cabernet Sauvignon</p>
        </div>
      </div>
      
      <div class="flex p-4">
        <img src="../../../assets/img/mundo.svg" alt="mundo" class="w-10 h-10">
        <div class="flex flex-col"> 
          <p class="font-font-secundaria font-bold text-purple-400 pl-4">País: </p>
          <p class="font-font-primaria font-bold pl-4 tablet:p-0">Uruguai</p>
        </div>
      </div>
      
      <div class="flex p-4">
        <img src="../../../assets/img/safra.svg" alt="safra" class="w-10 h-10">
        <div class="flex flex-col">
          <p class="font-font-secundaria font-bold text-purple-400 pl-4">Safra: </p>
          <p class="font-font-primaria font-bold pl-4 tablet:p-0">2022</p>
        </div>
      </div>
    
    </div>
  
  </div>

</main>  



